*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.hx-container{
    width: 100vw;
    margin: 0 auto;
    max-height: 820px;
    @media only screen and (max-width: 992px){
        max-height: 100%;
    }
}
.hx-main img{
    max-width: 100%;
}
.hx-h1, .hx-h2,.hx-h3,.hx-h4,.hx-h4-main,.hx-h2-v2,.hx-h5{
    font-family: 'Open Sans', sans-serif;
}
.hx-h1{
    font-size: 96px;
    margin: 0;
}
.hx-h2-v2{
    font-size: 58px;
}
.hx-h3{
    font-size: 64px;
    margin: 0;
}
.hx-h4{
    font-size: 26px;
    margin: 0;
    font-weight: 700;
}
.hx-h4-main{
    font-family: 'Open Sans condensed', sans-serif;
    font-size: 48px;
    font-weight: 300i;
    margin: 0;
    padding-bottom: .8em;
    font-style: italic;
}
.hx-font-condensed{
    font-family: 'Open Sans condensed', sans-serif;
}
.hx-font-bold{
    font-weight: 700;
}
.hx-h5{
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    padding-bottom: 1em;
}
.hx-subtitle2{
    color: #C1C1C1;
    font-size: 26px;
    font-family: 'Open Sans condensed', sans-serif;
    margin: 0;
}
.hx-subtitle1{
    color: #5D5D5D;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 700;
}
.hx-over-top{
    position: relative;
    top: -170px;
}
@media only screen and (max-width: 992px){
    .hx-over-top{
        top: -100px;
    }
    .hx-subtitle1{
        color: #5D5D5D;
        font-size: 32px;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        font-weight: 700;
    }

    .hx-a400-desc h3{
        font-size: 16px;
    }
}

@media only screen and (max-width: 992px){
    .hx-h1,.hx-h2,.hx-h2-v2,.hx-h3,.hx-h4,.hx-h4-main,.hx-subtitle1,.hx-subtitle2{
        padding-left: 14px;
        padding-right: 14px;
    }
    .hx-h1{
       font-size:  3.5em;
    }
    .hx-h2{
        font-size:  3em;
    }
    .hx-h2-v2{
        font-size: 1.8em;
    }
    .hx-h3{
        font-size: 2.5em;
    }
    .hx-h4{
        font-size: 1.5em;
    }
    .hx-h4-main{
        font-size: 1.6em;
    }
    .hx-h5{
        font-size: 1.3em;
    }
}


.hx-box{
    padding: 1em;
}
.hx-white{
    color: #ffffff;
}

.hx-font-weight-medium{
    font-weight: 300;
}

.hx-flex-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hx-text-center{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
}

.hx-site{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

.hx-main{
    margin: 0 auto;
    padding: 0;
}

.hx-content{
    min-height: 80vh;
    width: 100%;
    margin: 0 auto;
    max-width: 1180px;
}
@media only screen and (max-width: 992px){
    .hx-content{
        min-height: 50vh;
        box-sizing: border-box;
    }
}

.hx-content-legal{
    width: 100%;
    margin: 0 auto;
    max-width: 1180px;
}
.hx-legal{
    padding: 1em 1em 0em 1em;
}
.hx-legal p {
        font-size: 9px;
}
.main__container{
    background-image: url(../img/bg-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* SAVAGE REGION */ 
.savage__container{
    background-image: url(../img/bg-savage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.savage__container__footer{
    background-image: url(../img/savage-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
}
@media only screen and (max-width: 992px){
    .savage__container__footer{
        background-position: left;
    }
}

.color-white{
    color: #ffffff;
}
.hx-item-head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 12px;
}

.hx-item-head h4{
    padding-left: 14px;
    font-weight: 700;
    font-size: 16px;
}
.hx-flex-ce{
    display: flex;
    flex-direction: center;
    justify-content: flex-end;
}
.hx-product__box{
    padding-top: 5em;
    max-width: 500px;
}

.hx-legal{
    border-top: 1px solid #707070;
    font-size: 10px;
    margin-top: 10rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hx-footer{
    background-color:rgb(29,29,29);
    padding: 2em;
    margin: 0 auto;
    text-align: center;
}
.hx-footer img {
    width: 100%;
    max-width: 260px;
}

.padding-v{
 padding-top: 1em;
 padding-bottom: 1em;
}
.padding-v-2{
    padding-top: 4em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
}
.padding-b-2{
    padding-bottom: 2em;
}
.pading-v-top-2{
    padding-top: 2em;
}

.hx-gradient-black{
    background: linear-gradient(
        180deg,
        rgba(0,0,0,1),
        rgba(0,0,0,.0)
    );
}

.hx-bg-black{
    background-color: black;
}
.hx-product__pictures{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.hx-product__pictures img{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.img-savage{
    min-width: 600px;
}

.hx-item-box{
    padding: .5em;
}

//.hx-a400-image{}

@media only screen and (max-width: 992px){
    .img-savage{
        min-width: 100%;
    }
    .hx-item-box{
        padding-left: 15%;
        padding-right: 1em;
    }
}